{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h4 style="text-align: center; margin-top: 30px">Profil</h4>

        <form method="post" style="margin-bottom: 50px">
            <div class="input-field">
                <input id="login" type="text" name="_login" value="{{ user.login }}" class="validate" disabled />
                <label for="login">Login :</label>
            </div>

            <div class="input-field">
                <input id="mdp" type="password" name="_mdp" value="{{ user.mdp }}" class="validate" disabled />
                <label for="mdp">Mot de passe :</label>
            </div>

            <div class="input-field">
                <input id="nom" type="text" name="_nom" value="{{ user.nom }}" class="validate" disabled />
                <label for="nom">Nom :</label>
            </div>

            <div class="input-field">
                <input id="prenom" type="text" name="_prenom" value="{{ user.prenom }}" class="validate" disabled />
                <label for="prenom">Prenom :</label>
            </div>

            <div>
                <label>Sexe :</label>
                <p style="word-spacing: 20px">
                    <label>
                        <input name="_sexe" type="radio" value="h" {% if user.sexe == "h" %} checked {% endif %} disabled />
                        <span>Homme</span>
                    </label>
                    <label>
                        <input name="_sexe" type="radio" value="f" {% if user.sexe == "f" %} checked {% endif %} disabled />
                        <span>Femme</span>
                    </label>
                    <label>
                        <input name="_sexe" type="radio" value="a" {% if user.sexe == "a" %} checked {% endif %} disabled />
                        <span>Autre</span>
                    </label>
                </p>
            </div>

            <div class="input-field">
                <input id="email" type="text" name="_email" value="{{ user.email }}" class="validate" disabled />
                <label for="email">Email :</label>
            </div>

            <div class="input-field">
                <input id="naissance" type="text" name="_naissance" value="{{ user.naissance is empty ? "" : user.naissance|date("d/m/Y") }}" class="datepicker validate" disabled />
                <label for="naissance">Date de naissance :</label>
            </div>

            <div class="input-field">
                <input id="adresse" type="text" name="_adresse" value="{{ user.adresse|replace({'|': ' '}) }}" class="validate" disabled />
                <label for="adresse">Adresse postale :</label>
            </div>

            <div class="input-field">
                <input id="telephone" type="text" name="_telephone" value="{{ user.telephone }}" class="validate" disabled />
                <label for="telephone">No de telephone :</label>
            </div>

            <a class="waves-effect waves-light btn blue" style="width: 100%; margin-top: 20px" type="submit" href="{{ path('modifProfil') }}">Modifier</a>

        </form>

    </div>

{% endblock %}